In [1]:
import sqlite3

In [4]:
#connect to database:
db_name = "test.db"
con = sqlite3.connect(db_name)

In [5]:
#create a cursor:
cursor = con.cursor()

In [10]:
query = """
create table Users(
id integer not null primary key autoincrement,
name varchar(50) not null,
username varchar(50),
birthday date
)
"""

In [11]:
cursor.execute(query)

In [13]:
#commit the changes:
con.commit()

In [15]:
create_user_query = """
insert into Users(name, username)
values("Tuğçe", "tugceaay")

"""

In [16]:
cursor.execute(create_user_query)

In [17]:
con.commit()

In [18]:
cursor.execute("select * from Users")

In [20]:
type(cursor.fetchall())

list

None

In [23]:

cursor.execute("""
insert into Users(name, username)
values("Fatih", "fatopato")

""")

In [24]:
cursor.fetchall()

[]

In [31]:
cursor.execute("select * from Users where username like '%y'")

In [32]:
cursor.fetchall()

[(1, 'Tuğçe', 'tugceaay', None)]

In [33]:
cursor.execute("select * from Users order by id desc" )
cursor.fetchall()

[(2, 'Fatih', 'fatopato', None), (1, 'Tuğçe', 'tugceaay', None)]

In [34]:
def add_five(x):
    return x + 5
add_five(10)

15

In [41]:
def add_user(name):
    return "hello {}".format(name)
add_user("fatih")

'hello fatih'

In [54]:
def add_user(x,y):
    create_user_query = """
insert into Users(name, username)
values("{}","{}")

""".format(x,y)
    cursor.execute(create_user_query)
    print("User eklendi {},{}".format(x,y))

In [56]:
add_user("Tuğçeeee","Fatiiih")

User eklendi Tuğçeeee,Fatiiiiiiiiiiiiiiiiiiiiiiih

In [68]:
cursor.execute("select * from Users order by id desc" )
cursor.fetchall()
x = 10

In [67]:
def get_all_users():
    cursor.execute("select * from Users" )
    return cursor.fetchall()
get_all_users()

[(1, 'Tuğçe', 'tugceaay', None),
 (2, 'Fatih', 'fatopato', None),
 (3, 'Tuğçeeee', None, None),
 (4, 'Tuğçeeee', None, None),
 (5, 'Tuğçeeee', 'Fatiiiiiiiiiiiiiiiiiiiiiiih', None)]